
   
       <!-- footer begins -->
         <footer class="footer">
                <div class="footer-container">
                    <div class="footer-nits-aa-container">
                        <div class="mobile-ats-logo-container">
                            <img class="footer-ats-logo" src="/img/logo.png" alt="ATS Logo">
                        </div>
                        <div class="footer-nits-logo-container">
                            <img class="footer-nits-logo" src="/img/nits-logo-white-text.png" alt="NITS Logo">
                        </div>
                        <div class="footer-contact-aa">
                            <a href="">
                                <h4 class="footer-heading footer-heading-aa">NIT Silchar Alumni Association</h4>
                            </a>
                            <a href="" class="footer-para"><span class="contact-symbol">&#x2709;</span>nitsaa@nits.ac.in</a>
                            <p class="footer-para"><span class="fa fa-phone"></span>(+91) 25461-45021</p>
                        </div>
                    </div>
                    <div class="footer-about">
                        <h4 class="footer-heading">About</h4>
                        <a href="" class="footer-para">Rexian</a>
                        <a href="" class="footer-para">NIT Silchar</a>
                        <a href="" class="footer-para">Guest House</a>
                        <a href="" class="footer-para">FAQ</a>
                    </div>
                    <div class="footer-events">
                        <h4 class="footer-heading">Events</h4>
                        <a href="" class="footer-para">11th rexian meet</a>
                        <a href="" class="footer-para">Reunion of batch of 1994</a>
                        <a href="" class="footer-para">Reunion of batch of 1995</a>
                    </div>
                    <div class="footer-ats-col-container">
                        <div class="footer-ats-logo-container">
                            <img class="footer-ats-logo" src="/img/logo.png" alt="ATS Logo">
                        </div>
                        <div class="footer-heading">
                            <h4 class="">Alumni Tracking System</h4>
                        </div>
                    </div>
                </div>

                <div class="follow-us">
                    <a class="fa fa-linkedin" href="LinkedIn"></a>
                    <a class="fa fa-facebook" href="Facebook"></a>
                    <a class="fa fa-instagram" href="Instagram"></a>
                </div>
                <div class="footer-copyright">
                    © Copyright 2020
                </div>
            </footer>
            <!-- footer-ends -->
    <script src="/js/index.js"></script>
    <script src="/js/dark-mode.js"></script>
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
