
<div  class="Navbar" id="IdNavbar">
        <a href="/">
            <img class="ATSlogo" src="/img/logo.png" alt="ATS">
        </a>
    
        <div class="Navbar-contents">
            <a id="#home" href="/">Home</a>
            <a  id="#blog" href="/blog">Blog</a>
            <a  id="#profile" href="/profile">Profile</a>
            <a  id="#about" href="/about">About</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
            <a ><input class="s" type="text" placeholder=" Search for Alumni / Blog...."></a>
        </div>
    </div>

<script src="/js/index.js"></script>
<script src="/js/header.js"></script>
