
<div class="Navbar" id="IdNavbar">
        <a href="#">
            <img class="ATSlogo" src="/img/logo.png" alt="ATS">
        </a>
    
        <div class="Navbar-contents">
            <a href="#">Home</a>
            <a href="#">News</a>
            <a href="#">Contact</a>
            <a href="#">About</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
            <a><input type="text" placeholder=" Search for Alumni / Blog...."></a>
        </div>
    </div>

<script src="/js/index.js"></script>
