<!DOCTYPE html>
<html>

<head>

    <title>About page</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Comaptible" content="ie=edge" />

    <link rel="stylesheet" href="/css/dark-mode.css">
    <link href="https://fonts.googleapis.com/css2?family=Hanalei&family=Jomhuria&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/about.css">

</head>
<body>  
    <div class="container-head">
        <hr class="bar">
        <div class="heading">
            <h1>meet our team</h1>
        </div>
        <hr class="bar">
    </div>
    <div class="intro">
        <div class="DSC-lottie">
            <iframe src="https://lottiefiles.com/iframe/58719-developer-student-club"></iframe>
        </div>
        <div class="DSC-intro">
            <p>DSC NIT Silchar is under Developer Students Club, which is a worldwide developers community initiated by Google.
                 Our DSC prioritizes solving real life problems that we as part of a society face in our daily lives. Solving 
                 such problems brings opportunities for the budding developer communities to showcase their talents and, improve 
                 and gain new skillsets.
            </p>
        </div>
    </div>
    <div class="director-section">
        <div class="director-photo">
            <img  src="https://www.worldfuturecouncil.org/wp-content/uploads/2020/02/dummy-profile-pic-300x300-1.png">
            <h2>Director</h2>
            <h3>Sivaji Bandopadhyay</h3>
            <div class="icons">
                <a href="#"> <i class="fa fa-linkedin" ></i></a>
                <a href="#"> <i class="fa fa-facebook"></i></a>
            </div>
            
        </div>
        <div class="director-intro">
            <p>DSC NIT Silchar is under Developer Students Club, which is a worldwide developers community initiated by Google.
                 Our DSC prioritizes solving real life problems that we as part of a society face in our daily lives. Solving 
                 such problems brings opportunities for the budding developer communities to showcase their talents and, improve 
                 and gain new skillsets.
            </p>
        </div>
    </div>
    <div>
        <div class="box">
            <h2>MODERATORS</h2>
        </div>
        <div class="row">
            <div class="col">
                <img class="circle" src="https://www.worldfuturecouncil.org/wp-content/uploads/2020/02/dummy-profile-pic-300x300-1.png">
                <div class="details">
                    <h2>Rajdeep Paul</h2>
                    <h5>Frontend Developer</h5>
                    <h4>rajdeep@gmail.com</h4>
                    <div class="icons">
                        <a href="#" ><i class="fa fa-github " ></i></a>
                        <a href="#" ><i class="fa fa-linkedin" ></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
                <div class="col">
                <img class="circle" src="https://www.worldfuturecouncil.org/wp-content/uploads/2020/02/dummy-profile-pic-300x300-1.png">
                <div class="details">
                    <h2>Rajdeep Paul</h2>
                    <h5>Frontend Developer</h5>
                    <h4>rajdeep@gmail.com</h4>
                    <div class="icons">
                        <i class="fa fa-github " ></i>
                        <i class="fa fa-linkedin" ></i>
                        <i class="fa fa-facebook"></i>
                    </div>
                </div>
            </div>
                <div class="col">
                <img class="circle" src="https://www.worldfuturecouncil.org/wp-content/uploads/2020/02/dummy-profile-pic-300x300-1.png">
                <div class="details">
                    <h2>Rajdeep Paul</h2>
                    <h5>Frontend Developer</h5>
                    <h4>rajdeep@gmail.com</h4>
                    <div class="icons">
                        <i class="fa fa-github " ></i>
                        <i class="fa fa-linkedin" ></i>
                        <i class="fa fa-facebook"></i>
                    </div>
                </div>
            </div>
                <div class="col">
                <img class="circle" src="https://www.worldfuturecouncil.org/wp-content/uploads/2020/02/dummy-profile-pic-300x300-1.png">
                <div class="details">
                    <h2>Rajdeep Paul</h2>
                    <h5>Frontend Developer</h5>
                    <h4>rajdeep@gmail.com</h4>
                    <div class="icons">
                        <i class="fa fa-github " ></i>
                        <i class="fa fa-linkedin" ></i>
                        <i class="fa fa-facebook"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <h2>DEVELOPERS</h2>
        </div>
        <div class="row">
            <div class="col">
                <img class="circle" src="https://www.worldfuturecouncil.org/wp-content/uploads/2020/02/dummy-profile-pic-300x300-1.png">
                <div class="details">
                    <h2>Rajdeep Paul</h2>
                    <h5>Frontend Developer</h5>
                    <h4>rajdeep@gmail.com</h4>
                    <div class="icons">
                        <i class="fa fa-github " ></i>
                        <i class="fa fa-linkedin" ></i>
                        <i class="fa fa-facebook"></i>
                    </div>
                </div>
            </div>
                <div class="col">
                <img class="circle" src="https://www.worldfuturecouncil.org/wp-content/uploads/2020/02/dummy-profile-pic-300x300-1.png">
                <div class="details">
                    <h2>Rajdeep Paul</h2>
                    <h5>Frontend Developer</h5>
                    <h4>rajdeep@gmail.com</h4>
                    <div class="icons">
                        <i class="fa fa-github " ></i>
                        <i class="fa fa-linkedin" ></i>
                        <i class="fa fa-facebook"></i>
                    </div>
                </div>
            </div>
                <div class="col">
                <img class="circle" src="https://www.worldfuturecouncil.org/wp-content/uploads/2020/02/dummy-profile-pic-300x300-1.png">
                <div class="details">
                    <h2>Rajdeep Paul</h2>
                    <h5>Frontend Developer</h5>
                    <h4>rajdeep@gmail.com</h4>
                    <div class="icons">
                        <i class="fa fa-github " ></i>
                        <i class="fa fa-linkedin" ></i>
                        <i class="fa fa-facebook"></i>
                    </div>
                </div>
            </div>
                <div class="col">
                <img class="circle" src="https://www.worldfuturecouncil.org/wp-content/uploads/2020/02/dummy-profile-pic-300x300-1.png">
                <div class="details">
                    <h2>Rajdeep Paul</h2>
                    <h5>Frontend Developer</h5>
                    <h4>rajdeep@gmail.com</h4>
                    <div class="icons">
                        <i class="fa fa-github " ></i>
                        <i class="fa fa-linkedin" ></i>
                        <i class="fa fa-facebook"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <h2>DESIGNERS</h2>
        </div>
        <div class="row">
            <div class="col">
                <img class="circle" src="https://www.worldfuturecouncil.org/wp-content/uploads/2020/02/dummy-profile-pic-300x300-1.png">
                <div class="details">
                    <h2>Rajdeep Paul</h2>
                    <h5>Frontend Developer</h5>
                    <h4>rajdeep@gmail.com</h4>
                    <div class="icons">
                        <i class="fa fa-github " ></i>
                        <i class="fa fa-linkedin" ></i>
                        <i class="fa fa-facebook"></i>
                    </div>
                </div>
            </div>
                <div class="col">
                <img class="circle" src="https://www.worldfuturecouncil.org/wp-content/uploads/2020/02/dummy-profile-pic-300x300-1.png">
                <div class="details">
                    <h2>Rajdeep Paul</h2>
                    <h5>Frontend Developer</h5>
                    <h4>rajdeep@gmail.com</h4>
                    <div class="icons">
                        <i class="fa fa-github " ></i>
                        <i class="fa fa-linkedin" ></i>
                        <i class="fa fa-facebook"></i>
                    </div>
                </div>
            </div>
                <div class="col">
                <img class="circle" src="https://www.worldfuturecouncil.org/wp-content/uploads/2020/02/dummy-profile-pic-300x300-1.png">
                <div class="details">
                    <h2>Rajdeep Paul</h2>
                    <h5>Frontend Developer</h5>
                    <h4>rajdeep@gmail.com</h4>
                    <div class="icons">
                        <i class="fa fa-github " ></i>
                        <i class="fa fa-linkedin" ></i>
                        <i class="fa fa-facebook"></i>
                    </div>
                </div>
            </div>
                <div class="col">
                <img class="circle" src="https://www.worldfuturecouncil.org/wp-content/uploads/2020/02/dummy-profile-pic-300x300-1.png">
                <div class="details">
                    <h2>Rajdeep Paul</h2>
                    <h5>Frontend Developer</h5>
                    <h4>rajdeep@gmail.com</h4>
                    <div class="icons">
                        <i class="fa fa-github " ></i>
                        <i class="fa fa-linkedin" ></i>
                        <i class="fa fa-facebook"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>