<!DOCTYPE html>
<html>

<head>

    <title>About page</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Comaptible" content="ie=edge" />

    <link rel="stylesheet" href="/css/dark-mode.css">
    <link href="https://fonts.googleapis.com/css2?family=Hanalei&family=Jomhuria&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/about.css">

</head>
<body>  
    <div class="container-head">
        <hr class="bar">
        <div class="heading">
            <h1>meet our team</h1>
        </div>
        <hr class="bar">
    </div>
    <div class="intro">
        <div class="DSC-lottie">
            <iframe src="https://lottiefiles.com/iframe/58719-developer-student-club"></iframe>
        </div>
        <div class="DSC-intro">
            <p>DSC NIT Silchar is under Developer Students Club, which is a worldwide developers community initiated by Google.
                 Our DSC prioritizes solving real life problems that we as part of a society face in our daily lives. Solving 
                 such problems brings opportunities for the budding developer communities to showcase their talents and, improve 
                 and gain new skillsets.
            </p>
        </div>
    </div>
    <div class="director-section">
        <div class="DSC-lottie">
            <iframe src="https://lottiefiles.com/iframe/58719-developer-student-club"></iframe>
        </div>
        <div class="DSC-intro">
            <p>DSC NIT Silchar is under Developer Students Club, which is a worldwide developers community initiated by Google.
                 Our DSC prioritizes solving real life problems that we as part of a society face in our daily lives. Solving 
                 such problems brings opportunities for the budding developer communities to showcase their talents and, improve 
                 and gain new skillsets.
            </p>
        </div>
    </div>
    <div class="headers">
        <h1>developers</h1>
    </div>
    <div class="headers">
        <h1>designers</h1>
    </div>
    <div class="headers">
        <h1>moderators</h1>
    </div>
</body>
</html>