<!DOCTYPE html>
<html>

<head>

    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Comaptible" content="ie=edge" />

    <link rel="stylesheet" href="/css/dark-mode.css">
    <link rel="stylesheet" href="/css/blog.css">

    <script src="https://kit.fontawesome.com/d05c3d1935.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="dark-switch-container">
        <input type='checkbox' id='dark-mode-cbox' />
        <label for='dark-mode-cbox'>Night</label>
    </div>
    <main>
        <div>
            <div class="row">
                <div>
                    <form>
                        <input type="text" class="search" name="search" placeholder="Search Blog">
                    </form>
                </div>
                <div class="left-col">
                    <div class="bookmarks-activities">
                        <div class="profile">
                            <img class="pic1" src="https://bit.ly/2JWPcDM">
                            <h2 class="name1">ABC</h2>
                        </div>

                        <div class="list">
                            <h4>My bookmarks</h4>
                            <div class="heading"><i class="fas fa-bookmark"></i>
                                <h1> Bookmark 1</h1>
                            </div> <br>
                            <div class="heading"><i class="fas fa-bookmark"></i>
                                <h1> Bookmark 2</h1>
                            </div> <br>
                            <div class="heading"><i class="fas fa-bookmark"></i>
                                <h1> Bookmark 3</h1>
                            </div> <br>
                            <div class="heading"><i class="fas fa-bookmark"></i>
                                <h1> Bookmark 4</h1>
                            </div> <br>
                            <div class="showmore"><i class="fas fa-chevron-circle-down"></i>
                                <h1> See more</h1>
                            </div> <br>
                        </div>
                    </div>

                </div>
                <div class="center-col">
                    <% popularBlogs.forEach(function(blog){%>
                        <div class="blog">
                            <img class="profile_pic" src="https://bit.ly/2JWPcDM">
                            <div>
                                <h2 class="name">
                                    <%= blog.title%>
                                </h2>
                                <p class="time">15 minutes ago</p>
                                <p class="body">
                                    <%=blog.body%>
                                </p>
                                <img class="pic" src="<%=blog.cover%>">
                                <div class="container-icon">
                                    <i class="fas fa-thumbs-up"></i>
                                    <i class="fas fa-bookmark"></i>
                                </div>
                            </div>
                        </div>
                        <%})%>


                </div>
                <div class="right-col">
                    <div class="bookmarks-activities">
                        <div class="profile">
                            <img class="pic1" src="https://bit.ly/2JWPcDM">
                            <h2 class="name1">ABC</h2>
                        </div>

                        <div class="list">
                            <h4>My Activity</h4>
                            <div class="heading"><i class="far fa-clock"></i>
                                <h1> Activity 1</h1>
                            </div> <br>
                            <div class="heading"><i class="far fa-clock"></i>
                                <h1> Activity 2</h1>
                            </div> <br>
                            <div class="heading"><i class="far fa-clock"></i>
                                <h1> Activity 3</h1>
                            </div> <br>
                            <div class="heading"><i class="far fa-clock"></i>
                                <h1> Activity 4</h1>
                            </div> <br>
                            <div class="showmore"><i class="fas fa-chevron-circle-down"></i>
                                <h1> See more</h1>
                            </div> <br>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <script src="../public/js/dark-mode.js"></script>

</body>

</html>