<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blog</title>

    <!-- css link -->
    <link rel="stylesheet" href="/css/dark-mode.css">
    <link rel="stylesheet" type="text/css" href="/css/create-blog.css">

    <!-- ckeditor link for text area -->
    <script src="https://cdn.ckeditor.com/4.15.1/standard/ckeditor.js"></script>

</head>

<body>

    <div class="dark-switch-container">
        <input type='checkbox' id='dark-mode-cbox' />
        <label for='dark-mode-cbox'>Night</label>
    </div>
<form method="post" enctype="multipart/form-data" action="/blog/create">
    <main>
        <section class="blog-section">

            <div class="blog-heading-container">
                <h1 class="blog-heading">Create Blog</h1>
            </div>

            <!-- title & btn container -->

            <div class="title-btn-container">

                <div class="title-container">
                    <input type="text" placeholder="Title" class="blog-title" name="title">
                </div>

                <div class="btn-container">
                    <a class="b-cancel-btn" href="/blog/create">
                        Cancel
                    </a>
                    <button class="b-publish-btn" type="submit">
                        Publish
                    </button>
                </div>

            </div>
            <!-- title & btn container ends -->
            <!-- selection menu -->
            <div class="selection-menu">
                <div class="selection__option selection__option--field">
                    <select  id="" class="b-field" name="category">
                        <option value="" selected disabled class="display-none">Select Blog Field</option>
                        <option value="Web Dev">Web Dev</option>
                        <option value="Android Dev">Android Dev</option>
                        <option value="Design">Design</option>
                        <option value="M L">M L</option>
                        <option value="Hacking and Cracking">Hacking and Cracking</option>
                    </select>
                </div>
                <div class="selection__option selection__option--img">
                    <label for="chose-img" class="b-img-label" id="p1">Select Cover Image</label>
                    <input type="file" id="chose-img" name="cover-img" class="b-img display-none"
                        accept="image/png, image/jpg, image/jpeg">
                </div>
            </div>
            <!-- selection menu ends -->

            <!-- blog text -->
            <div class="blog-text-container">
                <textarea  id="blog-text" name="body"></textarea>

                <script>
                    CKEDITOR.replace('blog-text', { height: document.querySelector('.blog-text-container').clientHeight });
                    CKEDITOR.add
                    CKEDITOR.config.contentsCss = '/css/create-blog.css';     
                </script>
            </div>
            <!-- blog text ends -->

        </section>
    </main>
</form>
</body>
<script>
    document.getElementById('chose-img').onchange = function () {
        document.getElementById("p1").innerHTML = this.value;
 
};
</script>
<script src="/js/dark-mode.js"></script>

</html>