<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni Tracking System</title>
    <link rel="stylesheet" href="../public/css/homepage.css">
</head>

<body>
    <div class="carousel-one-container">
        <div class="slider-one-container">
            <div class="sOne-left-arrow">
                <span class="sOne-arrow sOne-arrow-left">
                </span>
            </div>
            <div class="sOne-right-arrow">
                <span class="sOne-arrow sOne-arrow-right">
                </span>
            </div>

            <div class="image-container">
                <img src="../public/img/sOne-img-1.JPG" alt="Image-One">
            </div>
            <div class="image-container">
                <img src="../public/img/sOne-img-2.JPG" alt="Image-Two">
            </div>
            <div class="image-container">
                <img src="../public/img/sOne-img-3.JPG" alt="Image-Three">
            </div>
            <div class="image-container">
                <img src="../public/img/sOne-img-4.JPG" alt="Image-Four">
            </div>
            <div class="image-container">
                <img src="../public/img/sOne-img-5.JPG" alt="Image-Five">
            </div>
        </div>
        <div id="dots-container">
        </div>
    </div>
    
    <div class="carousel-two-container">
      <div class="write">
          <br>
          <h1>TOP STORIES</h1>
      </div>
    <div class="containerfull">

    <div class="containerleft">
       <div class="contain" >
              
       </div>
       <div class="contain1">
        
       </div>
    </div>


<div class="containerright">

<div class="containerright1">
      <div class="contain2" >
      
      </div>

       <div class="contain2" >
        
      </div>

       <div class="contain2"  >
        
      </div>

       <div class="contain2" >
        
     </div>
</div>

 <div class="containerright2">
     <div class="contain3" >
        
      </div>

       <div class="contain3" >
        
      </div>

       <div class="contain3"  >
        
      </div>

       <div class="contain3" >
        
     </div>

</div>
</div>

</div>  
</div>

</body>

<script src="../public/js/index.js"></script>

</html>