<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni Tracking System</title>
    <link rel="stylesheet" href="../public/css/homepage.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
</head>

<body>
    <div class="carousel-one-container">
        <div class="carousel-one-text-container">
            <h1 class="carousel-one-text">
                <div class="text-color-gradient">
                    Alumni Tracking System
                </div>
            </h1>
        </div>
        <div class="slider-one-container">
            <div class="image-container">
                <img src="../public/img/sOne-img-1.JPG" alt="Image-One">
            </div>
            <div class="image-container">
                <img src="../public/img/sOne-img-2.jpg" alt="Image-Two">
            </div>
            <div class="image-container">
                <img src="../public/img/sOne-img-3.jpg" alt="Image-Three">
            </div>
            <div class="image-container">
                <img src="../public/img/sOne-img-4.jpg" alt="Image-Four">
            </div>
            <div class="image-container">
                <img src="../public/img/sOne-img-5.jpg" alt="Image-Five">
            </div>
        </div>
    </div>

    <div class="carousel-two-container">
        <div class="write">
            <br>
            <h1>TOP STORIES</h1>
        </div>
        <div class="containerfull">

            <div class="containerleft">
                <div class="contain">

                </div>
                <div class="contain1">

                </div>
            </div>


            <div class="containerright">

                <div class="containerright1">
                    <div class="contain2">

                    </div>

                    <div class="contain2">

                    </div>

                    <div class="contain2">

                    </div>

                    <div class="contain2">

                    </div>
                </div>

                <div class="containerright2">
                    <div class="contain3">

                    </div>

                    <div class="contain3">

                    </div>

                    <div class="contain3">

                    </div>

                    <div class="contain3">

                    </div>

                </div>
            </div>

        </div>
    </div>

    <div id="Contact" class="container">
        <h1>Contact Us</h1>
        <form>
            <input class="input" type="text" placeholder="Email"><br />
            <input class="input single-line" type="text" placeholder="Name">
            <input class="input single-line sub" type="text" placeholder="Subject"><br />
            <textarea class="input" name="" id="" cols="30" rows="10" placeholder="Message"></textarea><br />
            <input class="submit" type="submit" value="Submit">
        </form>
    </div>


</body>

<script src="../public/js/index.js"></script>

</html>