<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni Tracking System</title>
    <link rel="stylesheet" href="../public/css/homepage.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="carousel-one-container">
        <div class="carousel-one-text-container">
            <h1 class="carousel-one-text">
                <div class="text-color-gradient">
                    Alumni Tracking System
                </div>
            </h1>
        </div>
        <div class="slider-one-container">
            <div class="image-container">
                <img src="../public/img/sOne-img-1.JPG" alt="Image-One">
            </div>
            <div class="image-container">
                <img src="../public/img/sOne-img-2.jpg" alt="Image-Two">
            </div>
            <div class="image-container">
                <img src="../public/img/sOne-img-3.jpg" alt="Image-Three">
            </div>
            <div class="image-container">
                <img src="../public/img/sOne-img-4.jpg" alt="Image-Four">
            </div>
            <div class="image-container">
                <img src="../public/img/sOne-img-5.jpg" alt="Image-Five">
            </div>
        </div>
    </div>

    <div class="carousel-two-container">
        <div class="write">
            <br>
            <h1>TOP STORIES</h1>
        </div>
        <div class="containerfull">

            <div class="containerleft">
                <div class="contain">

                </div>
                <div class="contain1">

                </div>
                <div class="contain5Mobile">

                </div>
                <div class="contain6Mobile">

                </div>
            </div>


            <div class="containerright">

                <div class="containerright1">
                    <div class="contain2">

                    </div>

                    <div class="contain2">

                    </div>

                    <div class="contain2">

                    </div>

                    <div class="contain2">

                    </div>
                </div>

                <div class="containerright2">
                    <div class="contain3">

                    </div>

                    <div class="contain3">

                    </div>

                    <div class="contain3">

                    </div>

                    <div class="contain3">

                    </div>

                </div>
            </div>

        </div>
    </div>

    <div id="Contact" class="container">
        <h1>Contact Us</h1>
        <form>
            <input class="input" type="text" placeholder="Email"><br />
            <input class="input single-line" type="text" placeholder="Name">
            <input class="input single-line sub" type="text" placeholder="Subject"><br />
            <textarea class="input" name="" id="" cols="30" rows="10" placeholder="Message"></textarea><br />
            <input class="submit" type="submit" value="Submit">
        </form>
    </div>

    <!-- footer begins -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-nits-aa-container">
                <div class="mobile-ats-logo-container">
                    <img class="footer-ats-logo" src="../public/img/logo.png" alt="ATS Logo">
                </div>
                <div class="footer-nits-logo-container">
                    <img class="footer-nits-logo" src="../public/img/nits-logo-white-text.png" alt="NITS Logo">
                </div>
                <div class="footer-contact-aa">
                    <a href="">
                        <h4 class="footer-heading footer-heading-aa">NIT Silchar Alumni Association</h4>
                    </a>
                    <a href="" class="footer-para"><span class="contact-symbol">&#x2709</span>nitsaa@nits.ac.in</a>
                    <p class="footer-para"><span class="fa fa-phone"></span>(+91) 25461-45021</p>
                </div>
            </div>
            <div class="footer-about">
                <h4 class="footer-heading">About</h4>
                <a href="" class="footer-para">Rexian</a>
                <a href="" class="footer-para">NIT Silchar</a>
                <a href="" class="footer-para">Guest House</a>
                <a href="" class="footer-para">FAQ</a>
            </div>
            <div class="footer-events">
                <h4 class="footer-heading">Events</h4>
                <a href="" class="footer-para">11th rexian meet</a>
                <a href="" class="footer-para">Reunion of batch of 1994</a>
                <a href="" class="footer-para">Reunion of batch of 1995</a>
            </div>
            <div class="footer-ats-col-container">
                <div class="footer-ats-logo-container">
                    <img class="footer-ats-logo" src="../public/img/logo.png" alt="ATS Logo">
                </div>
                <div class="footer-heading">
                    <h4 class="">Alumni Tracking System</h4>
                </div>
            </div>
        </div>

        <div class="follow-us">
            <a class="fa fa-linkedin" href="LinkedIn"></a>
            <a class="fa fa-facebook" href="Facebook"></a>
            <a class="fa fa-instagram" href="Instagram"></a>
        </div>
        <div class="footer-copyright">
            © Copyright 2020
        </div>
    </footer>
    <!-- footer-ends -->

</body>

<script src="../public/js/index.js"></script>

</html>