<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni Tracking System</title>
    
    <!-- req for new navbar -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Hanalei&family=Jomhuria&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- homepage's own css -->
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="dark-switch-container">
        <input type='checkbox' id='dark-mode-cbox' />
        <label for='dark-mode-cbox'>Night</label>
    </div>

    <div class="carousel-one-container">
        <div class="carousel-one-text-container">
            <div class="carousel-text-box">
                <h1 class="carousel-one-head">
                    Lorem Ipsum Is Simply & Dummy
                </h1>
                <h3 class="carousel-one-subhead">
                    Text of the Printing
                </h3>
                <p class="carousel-one-para">
                    Typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                    <br>ever since the 1500s, when an unknown Lorem Ipsum is simply
                    <br>dummy text of the printing
                </p>
                <a href="/blog" class="btn btn--white">
                    View Blog
                </a>
            </div>
        </div>
        <div class="slider-one-container">
            <div class="image-container">
                <img src="/img/sOne-img-1.JPG" alt="Image-One">
            </div>
            <div class="image-container">
                <img src="/img/sOne-img-2.jpg" alt="Image-Two">
            </div>
            <div class="image-container">
                <img src="/img/sOne-img-3.jpg" alt="Image-Three">
            </div>
            <div class="image-container">
                <img src="/img/sOne-img-4.jpg" alt="Image-Four">
            </div>
            <div class="image-container">
                <img src="/img/sOne-img-5.jpg" alt="Image-Five">
            </div>
        </div>
    </div>

    <!-- Shivam's header and navigation begins -->
    <!-- <header class="header">
        <div class="ats-logo-container">
            <img src="/img/logo.png" alt="Logo" class="ats-logo">
        </div>
        <nav class="navigation">
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a class="nav-link-active" href="#">Home</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li>
                        <a href="/users/login"><img src="/img/login-logo.png" class="login-logo" alt=""></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header> -->
    <!-- Shivam's header and navigation ends -->

    <!-- header -->
    <%- include('partials/header') %>

    <!-- page 2 -->
    <section class="page-two">
        <div class="card-container">
            <div class="card card--1">
                <div class="card-img-container">
                    <img src="/img/page-two-image.jpg" alt="" class="card-image">
                </div>
                <div class="card-text-container">
                    <p class="card-text">
                        NIT Silchar Notable Alumni Selected for Nobel Peace Prize for his outstanding during admin glass panel smashing incident.
                    </p>
                </div>
            </div>
            <div class="card card--2">
                <div class="card-img-container">
                    <img src="/img/page-two-image.jpg" alt="" class="card-image">
                </div>
                <div class="card-text-container">
                    <p class="card-text">
                        NIT Silchar Notable Alumni Selected for Nobel Peace Prize for his outstanding during admin glass panel smashing incident.
                    </p>
                </div>
            </div>
            <div class="card card--3">
                <div class="card-img-container">
                    <img src="/img/page-two-image.jpg" alt="" class="card-image">
                </div>
                <div class="card-text-container">
                    <p class="card-text">
                        NIT Silchar Notable Alumni Selected for Nobel Peace Prize for his outstanding during admin glass panel smashing incident.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- page 2 ends -->

    <!-- page 3 -->
    <section class="page-three">
        <div class="pth-container">
            <div class="pth-bars pth-event-title">
                <p>Convocation <span>2020</span></p>
            </div>
            <div class="pth-bars pth-event-details">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown Lorem Ipsum is simply dummy text of.</p>
            </div>
            <div class="pth-bars pth-img-container">
                <img src="/img/page-three-convo.png" alt="">
            </div>
            <div class="pth-bars pth-about-box about-box-1">
                <div class="about-box-wrap">

                    <div class="msg-logo-container">
                        <p class="msg-logo">&#x2709;</p>
                    </div>
                    <p class="box-title">
                        Lorem Ipsum
                    </p>
                    <p class="box-para">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        <span class="mobile-clip">
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
                        </span>
                    </p>
                </div>
            </div>
            <div class="pth-bars pth-about-box about-box-2">
                <div class="about-box-wrap">

                    <div class="msg-logo-container">
                        <p class="msg-logo">&#x2709;</p>
                    </div>
                    <p class="box-title">
                        Lorem Ipsum
                    </p>
                    <p class="box-para">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        <span class="mobile-clip">
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- page 3 ends -->

    <!-- top stories -->
    <section class="top-stories">
        <div class="stories-text">
            <p class="stories-heading">
                <span>TOP </span>STORIES
            </p>
            <p class="stories-para">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                <span class="mobile-clip">
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown Lorem Ipsum is simply dummy text of.
                </span>
            </p>
        </div>
        <div class="stories-container">
            <div class="stories-popular">
                <p>POPULAR</p>
            </div>
            <div class="stories-recent">
                <p>RECENT</p>
            </div>
            <div class="stories-box stories-box--1">
                <div class="story-img">
                    <img src="/img/page-three-convo.png" alt="">
                </div>
                <div class="story-text">
                    <p class="story-head">
                        Lorem Ipsum is simply dummy
                    </p>
                    <p class="story-para">
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        <span class="mobile-clip">
                            , when an unknown Lorem Ipsum is simply dummy text of.
                        </span>
                    </p>
                </div>
            </div>
            <div class="stories-box stories-box--2">
                <div class="story-img">
                    <img src="/img/page-three-convo.png" alt="">
                </div>
                <div class="story-text">
                    <p class="story-head">
                        Lorem Ipsum is simply dummy
                    </p>
                    <p class="story-para">
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        <span class="mobile-clip">
                            , when an unknown Lorem Ipsum is simply dummy text of.
                        </span>
                    </p>
                </div>
            </div>
            <div class="stories-box stories-box--3">
                <div class="story-img">
                    <img src="/img/page-three-convo.png" alt="">
                </div>
                <div class="story-text">
                    <p class="story-head">
                        Lorem Ipsum is simply dummy
                    </p>
                    <p class="story-para">
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        <span class="mobile-clip">
                            , when an unknown Lorem Ipsum is simply dummy text of.
                        </span>
                    </p>
                </div>
            </div>
            <div class="stories-box stories-box--4">
                <div class="story-img">
                    <img src="/img/page-three-convo.png" alt="">
                </div>
                <div class="story-text">
                    <p class="story-head">
                        Lorem Ipsum is simply dummy
                    </p>
                    <p class="story-para">
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        <span class="mobile-clip">
                            , when an unknown Lorem Ipsum is simply dummy text of.
                        </span>
                    </p>
                </div>
            </div>
            <div class="stories-box stories-box--5">
                <div class="story-img">
                    <img src="/img/page-three-convo.png" alt="">
                </div>
                <div class="story-text">
                    <p class="story-head">
                        Lorem Ipsum is simply dummy
                    </p>
                    <p class="story-para">
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        <span class="mobile-clip">
                            , when an unknown Lorem Ipsum is simply dummy text of.
                        </span>
                    </p>
                </div>
            </div>

            <div class="stories-box stories-box--6">
                <div class="story-img">
                    <img src="/img/page-three-convo.png" alt="">
                </div>
                <div class="story-text">
                    <p class="story-head">
                        Lorem Ipsum is simply dummy
                    </p>
                    <p class="story-para">
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s<span class="mobile-clip">
                            , when an unknown Lorem Ipsum is simply dummy text of.
                        </span>
                    </p>
                </div>
            </div>
        <!--    <div class="stories-more">
                <a href="" class="btn-more">More</a>
            </div>   -->
        </div>
    </section>
    <!-- top stories ends -->

        <!-- contact us begins  -->
        <section class="contact-us">
            <div class="contact-title">
                <p>
                    Contact
                    <span>Us</span>
                </p>
            </div>
            <div class="form-container">
                <form action="/contact" method="post" class="contact-form">
                    <div class="form-group form-group-1">
                        <input type="email" id="email" placeholder="email" name="email">
                        <label for="email">Email</label>
                    </div>
                    <div class="form-group form-group-2">
                        <input type="text" id="name" placeholder="name" name="name">
                        <label for="name">Full Name</label>
                    </div>
                    <div class="form-group form-group-3">
                        <input type="subject" id="subject" placeholder="subject" name="subject">
                        <label for="subject">Subject</label>
                    </div>
                    <textarea name="message" id="message" class="message" cols="30" rows="10" placeholder="Message"></textarea>
                    
            <div class="stories-more btn-submit">
                <a href="" class="btn-more">Submit</a>
            </div>  
                </form>
            </div>
        </section>
        <!-- contact us ends -->
 
   <!--footer -->
   <%- include('partials/footer') %>

</body>

<script src="/js/index.js"></script>
<script src="/js/dark-mode.js"></script>

</html>