<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="loginform.css" />
</head>
<body>
	 <div class="wholebody">
	<div class="heading">
	<h1> ALUMNI TRACKING SYSTEM </h1>
    </div>
    <div class="container">
	<div class="containerleft">
       		  
       	</div>

       	<div class="containerright">
      		
       	</div>
    </div>
</div>
</body>

</html>