<!doctype html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Comaptible" content="ie=edge"/>
        <link rel="stylesheet" href="../public/css/profile.css">
        <title>Profile</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="intro">
                <div class="cover-pic">
                    <img src="../public/img/cover.jpg" alt="">
                </div>
                <div class="profile-pic">
                </div>
                <div class="bottom">
                    
                    <div class="name">
                        <h1>Panda Sleepy Basisth</h1>
                        <p>Lead Designer, ATS</p>
                    </div>
                    <div class="chat">
                        <a href="">Start Chat</a>
                    </div>
                    <div class="logo">
                        <img src="../public/img/cse_logo.png" alt="">
                    </div>
                </div>
            </div>
            <div class="bod">
                <div class="left-container">

                </div>
                <div class="right-container">
                    <div class="nav">
                        <a href="#a" onclick="active1()" id="tab1" >Timeline</a>
                        <a href="#a" onclick="active2()" id="tab2" >Blogs</a>
                    </div>
                    <hr>
                    <div class="timeline" id="sec1">

                    </div>
                    <div class="blogs" id="sec2">
                            <div>
                                <div class="chat">
                                    <a href="">Create Blog</a>
                                </div>
                            </div>
                            <div class="blog-area">
                                <div class="up">
                                        <div class="profile-pic">
                                        </div>
                                    <div class="name">
                                        <h1>Panda Sleepy Basisth</h1>
                                        <p>06/01/21 9:30pm</p>
                                    </div>
                                </div>
                                <div class="readmore js-read-more" data-rm-words="60">
                                <p class="content">Felis catus has had a very long relationship with humans.
                                Ancient Egyptians may have first domesticated cats as early 
                                as 4,000 years ago. Plentiful rodents probably drew wild felines
                                to human communities. The cats' skill in killing them may have 
                                first earned the affectionate attention of humans. Early 
                                Egyptians worshipped a cat goddess and even mummified their
                                beloved pets for their journey to the next world—accompanied 
                                by mummified mice! Cultures around the world later adopted cats 
                            as their own companions. Cats communicate by marking trees, fence
                                posts, or furniture with their claws or their waste. These 
                                scent posts are meant to inform others of a cat's home range. 
                                House cats employ a vocal repertoire that extends from a purr to a screech.
                                Felis catus has had a very long relationship with humans.
                                Ancient Egyptians may have first domesticated cats as early 
                                as 4,000 years ago. Plentiful rodents probably drew wild felines
                                to human communities. The cats' skill in killing them may have 
                                first earned the affectionate attention of humans. Early 
                                Egyptians worshipped a cat goddess and even mummified their
                                beloved pets for their journey to the next world—accompanied 
                                by mummified mice! Cultures around the world later adopted cats 
                            as their own companions. Cats communicate by marking trees, fence
                                posts, or furniture with their claws or their waste. These 
                                scent posts are meant to inform others of a cat's home range. 
                                House cats employ a vocal repertoire that extends from a purr to a screech.
                                </p></div>
                                <div class="cover-pic">
                                    <img src="../public/img/cover.jpg" alt="">
                                </div>
                            </div>

                            <div class="blog-area">
                                <div class="up">
                                    <div class="profile-pic">
                                    </div>
                                    <div class="name">
                                        <h1>Panda Sleepy Basisth</h1>
                                        <p>06/01/21 9:30pm</p>
                                    </div>
                                </div>
                                <div class="readmore js-read-more" data-rm-words="60">
                                <p class="content">Felis catus has had a very long relationship with humans.
                                Ancient Egyptians may have first domesticated cats as early 
                                as 4,000 years ago. Plentiful rodents probably drew wild felines
                                to human communities. The cats' skill in killing them may have 
                                first earned the affectionate attention of humans. Early 
                                Egyptians worshipped a cat goddess and even mummified their
                                beloved pets for their journey to the next world—accompanied 
                                by mummified mice! Cultures around the world later adopted cats 
                            as their own companions. Cats communicate by marking trees, fence
                                posts, or furniture with their claws or their waste. These 
                                scent posts are meant to inform others of a cat's home range. 
                                House cats employ a vocal repertoire that extends from a purr to a screech.
                                </p></div>
                                <div class="cover-pic">
                                    <img src="../public/img/cover.jpg" alt="">
                                </div>
                            </div>

                        </div>

                </div>
            </div>
        </div>
    </body>
    <script src="../public/js/profile.js"></script>
</html>