@import url('./variables/profilepage-variable.css');
/* annimaton photos size */
.paper-plane{
        height: 150px;
        top: 43%;
        position: relative;
        left:5%;
    } 
.full{
    height: 100vh;
    display: block;
    } 
.animation{
        height: 80vh;       
        position: relative;     
        background-image: url("../img/Rectangle981.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
       
    }  
    /* here annimation popup text starts*/

 #pop1,#pop2,#pop3{ 
   padding: 1px;
   width:10vw;
   height: 7vh;
   background-color:var(--popbgcolor);
   box-sizing: border-box;
   position: absolute;
   display: none;
   border: 1px solid var(--borderpopcolor);
   font-weight: bold;
   }
   #pop1 p,#pop2 p,#pop3 p{
     text-align: center;
   }
#pop1:after,#pop3:after{
  position: absolute;
  width:20px;
  height: 20px;
  margin-left: 26px;
  margin-top: -24%;
  content: '';
  transform:rotate(45deg);
  background-color:var(--popbgcolor);
  border-top: 1px solid var(--borderpopcolor);
  border-left: 1px solid var(--borderpopcolor);
}
#pop2:after{
  position: absolute;
  width:20px;
  height: 20px;
  margin-left: 105px;
  margin-top: 10%;
  content: '';
  transform:rotate(45deg);
  background-color:var(--popbgcolor);
  border-bottom: 1px solid var(--borderpopcolor);
  border-right: 1px solid var(--borderpopcolor);
}
#pop1{ 
    margin-top: 200px;
    margin-left: 255px;
}
#pop2{  
    margin-top: 30px;
    margin-left: 320px;
}
#pop3{  
    margin-top: 100px;
    margin-left: 560px;
}
/*ending with timeline button*/
  @media (max-width : 680px) {
    .full{
     display: none;
    }
  }
/* -------------------------------------annimation ending-------------------------------------------------------*/