@import "./variables/blog-variables.css";

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;600;700;800;900&display=swap');

body{
	margin:0px;
	padding: 0px;
  	font-family: 'Gothic A1', sans-serif;
	  background-color: var(--body-bg);
	  color: var(--element-text-color);
}
.dark-switch-container {
	position: fixed;
	right: 3rem;
	top: 1rem;
	max-width: 3.9em;
	width: 3.9em;
	text-align: center;
	margin: 0%;
}
#dark-mode-cbox+label {
	padding: 0.4em;
	height: 1.4em;
	width: 94%;
}
.row{
	padding-top: 10px;
	height: 100%;
	width: 100%;
	margin-top: 18vh;
}

.bar{
	margin-bottom: 10px;
}
form{
	width: 50%;
	margin: auto;

}
.bar .search{
	height:50px;
	width:100%;
	background-color:var(--search-color);
	display: block;
	margin: auto;
	border-radius: 30px;
	font-size: 18px;
	padding-left: 21px;
	border:0px;
	outline: none;
	margin-bottom: 10px;
}

.tab_create-blog {
	background-color: paleturquoise;
	color: white;
	width: 10%;
	height: 45px;
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
	border-radius: 30px;
	text-align: center;
	padding: auto;
	float: right;
	transform: translate(-70%, -130%);
	padding: 8px;
	/* display: none; */
  }
/* ******************************** */
.move{
	margin-left: -20%;
}

.main-body{
	display: flex;
	justify-content: center;
	width: 100%;
}
.left-col{
	margin-right: 2.5%;
	width:20%;
	height:30%;
}

.right-col{
	margin-left: 2.5%;
	width: 20%;
	height: 30%;
}
.center-col{
	width:50%;
	height:auto;
}
.margin{
	margin-top: -30px;
}
.bookmarks-activities{
	margin-left: 10px;
	margin-right: 10px;
	background-color: var(--element-bg);	
}

.profile{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.pic1{
	display: inline-block;
	height:50px;
	width:50px;
	border-radius: 50%;
	margin: 15px;
	border:2px solid #ffffff;	
}

.list{
	margin: 0 20px;
}
.heading{
	display: inline-block;
	margin-bottom: 10px;
}
.heading h1{
	display: inline-block;
	font-size: 15px;
	margin-left: 20px;
}
.showmore{
	display: inline-block;
	padding: 20px;
}
.showmore h1 {
	display: inline-block;
	font-size: 12px;
	margin-left: 5px;	
}
.name1{
	padding-top: 20px;
	display: inline-block;
	vertical-align: top;
	margin-top: -20px;
}
h4{
	color: #A9A9A9;
	font-size: 15px;
	margin-bottom: 20px;
}
.blog{
	width: 100%;
	margin-bottom: 10px;
	background-color:var(--element-bg);
	display: inline-block;
}

.profile_pic{
	height:60px;
	width:60px;
	border-radius: 50%;
	float: left;
	margin: 15px;
	margin-top: 25px;
	border:2px solid #ffffff;
}
.name{
	padding-top: 10px;
	margin-bottom: 0px;
	margin-top: 21px;
}
.time{
	margin: 0px;
	font-size: 12px;
	color:#A9A9A9;
}
.body{
	margin-left: 95px;
	margin-top: 15px;
	margin-bottom: 0px;
	padding-right:30px;
	font-weight: 500;
	font-size:16px;
	padding-bottom: 30px;
}
.pic{
	width:auto;
	height:auto;
	max-width: 80%;
	border-radius: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.container-icon{
	margin-left: 15%;
	padding-bottom: 15px;
	padding-top: 15px;
	display: flex;
	cursor: pointer;
}
.container-icon .fas{
	font-size: 30px;
	padding-right: 10px;
	-webkit-transition: .8s ease-out;
	transition: .8s ease-out;
	text-decoration: none;
	color: black;
	/* transform: scale(2); */
}
.selected{
	color: #4169e1;
}
.container-icon div{
	color: var(--element-text-color);

}
.container-icon .fas:focus{
	/* -webkit-animation: squeeze 1s ease-out; */
	/* animation: squeeze 1s ease-out; */
}

@keyframes squeeze {
	/* 25% {
	opacity: 1;
	  transform: scale(0.8);
	} */
	50% {
	opacity: 1;

	  transform: scale(.8);
	}
	/* 75% {
	opacity: 0;

	  transform: scale(0.8);
	} */
	100% {
	opacity: 0;

	  transform: scale(1);
	}
}

.container-icon a{
	text-decoration: none;
}
.navbutton {
  display: none;
  margin-top: -20%;
}



div.disp2_on {
display: block;
}

div.disp2_off {
display: none;
}


@media (max-width:960px)
{

.search{
		width: 60%;
		height: 45px;
}
.navbutton {
    width: 100%;
    margin: 5px 0px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
}
.navbutton button {
    width: 30vw;
    height: 90%;
    margin: 0 3.5px;
	padding: 2px;
    font-weight: bold;
    border: none;
	background-color: white;
	border-radius: 5px;
    /* background-color: var(--borderpopcolor); */
    cursor: pointer;
    outline: 0;
  }
.navbutton button:first-child{
	  width: 10vw;
}
.navbutton img{
	height: 35px;
}
.navbutton button:nth-child(2){
    width: 17vw;
}
.btn.active {
    color: var(--white);
    /* background-color: var(--btn-active-bg); */
	background-color: var(--button-color);
}

.dark-switch-container {
		position: fixed;
		right: 2%;
		top: 1rem;
		max-width: 3.5em;
		width: 3.5em;
		text-align: center;
		margin: 0%;
	}
	.left-col{
		padding-left: 0%;
		padding-right: 0%;
		width: 100%;
		height: auto;
	}
	.right-col{
		padding-left: 0%;
		padding-right: 0%;
		width: 100%;
		height: auto;
	}
	.center-col{
		width: 100%;
		height: auto;
	}
	.profile_pic{
		height:50px;
		width:50px;
		margin: 15px;
		margin-top: 20px;
	}
	.name{
		padding-top: 25px;
		margin-top: 0px;
	}
	.body{
		margin-left: 20px;
		margin-top: 20px;
		padding-right:20px;
		font-weight: 300;
		font-size: 18px;
	}
	.pic{
		width:auto;
		height:auto;
		max-width: 90%;
		border-radius: 30px;
	}

	.blog{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width:95%;
		margin-bottom: 20px;
		border-radius: 10px;
	}
	.container-icon{
		margin-left: 10%;
	}
	.container-icon .fas{
		font-size: 25px;
	}
}
