/* local import */
@import url("./variables/homepage-variables.css");
@import url("./dark-mode.css");

/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/* body font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
/* page 3 font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
}

*:link {
  text-decoration: none;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

/* dark mode switch */
.dark-switch-container {
  position: fixed;
  right: 2.2rem;
  top: 1.6rem;
  max-width: 3.5em;
  width: 3.5em;
  text-align: center;
  z-index: 99999;
}
/* darkmode switch ends */

/* header and navbar styles*/
.header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 9;
}
.ats-logo-container {
  width: 11rem;
}
.ats-logo {
  height: 100%;
  width: 100%;
}

.navigation {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  height: 11vh;
  width: 75vw;
  padding-right: 6.2rem;
  margin-right: 5px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
  line-height: 11vh;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: var(--color-white);
  padding: 0 2vw;
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.2s;
}

.navbar-links li a:hover {
  color: #575bc9;
  font-weight: 600;
  transform: translateY(-1px) scale(1.05);
}

.login-logo {
  transform: translateY(0.95rem);
  width: 3.3rem;
  height: 3.3rem;
}

.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--color-white);
  border-radius: 10px;
}

@media (max-width: 720px) {
  .ats-logo-container {
    width: 6rem;
  }

  .navigation {
    flex-direction: column;
    align-items: flex-end;
    height: 4.5rem;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    position: absolute;
    top: 4.5rem;
    display: none;
    width: 10rem;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
    background: #000;
    border-radius: 5px;
  }

  .navbar-links ul li a {
    padding: 0 0.5rem;
    height: 3rem;
    font-size: 1rem;
    line-height: 3rem;
  }

  .login-logo {
    transform: translateY(0.4rem);
    width: 2.1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}
/* header and navbar style ends*/

/* 1st carousel style begins */
.carousel-one-container {
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.carousel-one-text-container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 9;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  color: white;
  background-image: linear-gradient(
    to right bottom,
    rgba(196, 196, 196, 0.2),
    rgba(196, 196, 196, 0.5),
    rgba(87, 91, 201, 0.99)
  );
  background-blend-mode: color;
}
.carousel-text-box {
  position: absolute;
  width: 80%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.carousel-one-head {
  opacity: 1;
  padding-top: 7rem;
  font-size: 2.1rem;
}
.carousel-one-subhead {
  font-size: 1.5rem;
  padding-top: 0.4rem;
}
.carousel-one-para {
  width: 60%;
  margin: 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 5rem;
  font-size: 1.2rem;
}
.navbar-links li a,
.carousel-one-head,
.carousel-one-subhead,
.carousel-one-para {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.8);
}
/* carousel btn */
.btn:link,
.btn:visited {
  text-transform: capitalize;
  text-decoration: none;
  padding: 0.8rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.3rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 1);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
}

.btn--white {
  background-color: #6e71d1;
  color: #fff;
}

.btn--white::after {
  background-color: #6e71d1;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

/* mobile view */
@media (max-width: 680px) {
  /* dark mode switch */
  .dark-switch-container {
    top: 5.5rem;
    right: 2rem;
  }
  /* darkmode switch ends */

  .carousel-one-container {
    width: 80vw;
    height: 45vh;
  }

  .carousel-one-text-container {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
}

/* carousel-text ends */

.slider-one-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.image-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.image-container img {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.moveLeftCurrentSlide {
  animation: moveLeftCurrent 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.moveLeftNextSlide {
  animation: moveLeftNext 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes moveLeftCurrent {
  from {
    margin-left: 0;
    opacity: 1;
  }
  to {
    margin-left: -100%;
    opacity: 1;
  }
}

@keyframes moveLeftNext {
  from {
    margin-left: 100%;
    opacity: 1;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}

.moveRightCurrentSlide {
  animation: moveRightCurrent 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes moveRightCurrent {
  from {
    margin-left: 0;
    opacity: 1;
  }
  to {
    margin-left: 100%;
    opacity: 1;
  }
}

.moveRightNextSlide {
  animation: moveRightNext 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes moveRightNext {
  from {
    margin-left: -100%;
    opacity: 1;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
/* 1st carousel ends */

/* page 2 styles */
.page-two {
  height: 30rem;
  width: 100vw;
  background-color: white;
}
.card-container {
  width: 75%;
  margin: 0 auto;
  margin-top: -3rem;

  display: flex;
  justify-content: space-between;
}
.card {
  text-align: center;
  background-color: white;
  width: 22vw;
  height: 22rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.25);
  z-index: 10;
  border-radius: 7px;
}
.card-img-container {
  width: 82%;
  height: 10rem;
  margin: 1.2rem auto;
}
.card-image {
  width: 100%;
  height: 100%;
}
.card-text-container {
  width: 75%;
  margin: 0 auto;
  margin-top: 2rem;
  font-size: 1rem;
}
@media only screen and (max-width: 1020px) {
  .card-text-container {
    width: 85%;
    margin-top: 1.5rem;
    font-size: 0.95rem;
  }
}
@media only screen and (max-width: 700px) {
  .card-text-container {
    width: 90%;
    margin-top: 1rem;
    font-size: 0.7rem;
  }
}
/* page 2 styles ends */

/* page 3 styles */
.page-three {
  position: relative;
  height: 44rem;
  width: 100vw;
  background-color: #5053a5;
  font-family: "Poppins", sans-serif;
}
.pth-container {
  position: absolute;
  width: 85vw;
  height: 35rem;
  padding-bottom: 2.5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  color: white;

  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-template-areas:
    "title detail detail"
    "image box-1 box-2";

  grid-row-gap: 25px;
  grid-column-gap: 50px;
}
.pth-event-title {
  grid-area: title;
  justify-self: center;
  align-self: center;
  text-transform: uppercase;
}
.pth-event-title p {
  font-size: 3.5rem;
  letter-spacing: 1px;
  text-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.25);
}
.pth-event-title p span {
  color: #39393f;
}
.pth-event-details {
  grid-area: detail;
  justify-self: center;
  align-self: end;
}
.pth-event-details p {
  font-size: 0.9rem;
  letter-spacing: 1px;
}
.pth-img-container {
  grid-area: image;
}
.pth-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.25);
}
.about-box-1 {
  grid-area: box-1;
}
.about-box-2 {
  grid-area: box-2;
}
.pth-about-box {
  border: 2px solid white;
  position: relative;
  margin-bottom: 1rem;
}
.about-box-wrap {
  position: absolute;
  width: 85%;
  height: 90%;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.msg-logo-container {
  position: absolute;
  top: 0;
  left: 0;
}
.msg-logo {
  width: 100%;
  height: 100%;
}
.box-title {
  margin-top: 3.5rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.box-para {
  margin-top: 1rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

@media only screen and (max-width: 1500px) {
  .box-title {
    margin-top: 2.5rem;
    font-size: 1.3rem;
  }
  .box-para {
    margin-top: 0.8rem;
    font-size: 0.7rem;
  }
  .pth-event-title p {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 1100px) {
  .box-title {
    margin-top: 2.5rem;
    font-size: 1rem;
  }
  .box-para {
    margin-top: 0.4rem;
    font-size: 0.5rem;
  }
  .pth-event-title p {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 900px) {
  .pth-event-title p {
    font-size: 1.5rem;
  }
}
/* page 3 styles ends */

/* footer styles */
.footer {
  display: block;
  max-width: 100vw;
  font-family: "Lato", sans-serif;
  background-color: var(--footer-bg-grey);
  color: var(--color-white);
  text-align: center;
}

.footer-container {
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15vh;
  border-bottom: 2px solid var(--color-white);
}

.footer-nits-aa-container,
.footer-about,
.footer-events,
.footer-contact,
.footer-ats-col-container {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 20vw;
}

.mobile-ats-logo-container {
  display: none;
}

.footer-nits-logo {
  width: 40%;
  margin-bottom: 2vh;
}

.footer-contact-aa {
  font-size: 0.9rem;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* contact symbol style with fa styling below */
.footer-heading {
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: var(--footer-heading-color);
  letter-spacing: 1px;
  font-weight: 600;
  user-select: none;
}

.footer-heading-aa {
  margin-bottom: 8px;
}

.footer-para {
  margin-bottom: 6px;
  font-size: 1.1rem;
  display: block;
  color: var(--color-white);
  user-select: none;
}

.footer-ats-logo {
  width: 57%;
}

.follow-us {
  padding: 2vh 0 3vh 0;
}

.fa {
  padding: 5px 7px;
  font-size: 26px;
  text-decoration: none;
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: 100%;
  margin-right: 2vw;
}

.fa:last-child {
  margin-right: 0;
}

.fa-facebook {
  padding: 5px 9px;
  font-size: 24px;
}

.contact-symbol,
.fa-phone {
  border: none;
  margin-right: 10px;
  color: var(--footer-heading-color);
  padding-left: 0;
  font-size: 20px;
}

.footer-copyright {
  padding-bottom: 1vh;
}

@media (max-width: 700px) {
  .footer-container {
    padding-top: 5vh;
  }

  .footer-nits-aa-container,
  .footer-about,
  .footer-events,
  .footer-contact,
  .footer-ats-col-container {
    display: block;
    width: 100%;
    margin-bottom: 25px;
  }

  .footer-about,
  .footer-events {
    display: inline-block;
    width: 45%;
  }

  .mobile-ats-logo-container {
    display: block;
    width: 100%;
  }

  .footer-ats-col-container {
    display: none;
  }

  .footer-nits-logo {
    width: 30%;
  }

  .footer-heading {
    font-size: 1.1rem;
  }

  .footer-para {
    margin-bottom: 4px;
    font-size: 1rem;
  }

  .footer-ats-logo {
    width: 40%;
  }
}
/* footer ends */
