/* local import */
@import url("./variables/homepage-variables.css");
@import url("./dark-mode.css");

/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/* body font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
/* page 3 font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* top stories title font */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
}

*:link {
  text-decoration: none;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

/* dark mode switch */
.dark-switch-container {
  right: 2.2rem;
  top: 2.2rem;
  max-width: 3.5em;
  width: 3.5em;
  text-align: center;
  z-index: 99999;
  position: fixed;
}
/* darkmode switch ends */

/* header and navbar styles*/
/*
.header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 9;
}
.ats-logo-container {
  width: 11rem;
}
.ats-logo {
  height: 100%;
  width: 100%;
}

.navigation {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  height: 11vh;
  width: 75vw;
  padding-right: 6.2rem;
  margin-right: 5px;
  border-bottom: 3px solid var(--nav-border-bottom);
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
  line-height: 11vh;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: var(--color-white);
  padding: 0 2vw;
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.2s;
  text-shadow: 0 4px 4px var(--txt-shadow-dark)
}

.navbar-links li .nav-link-active {
  color: var(--nav-act-hov);
  font-weight: 600;
  text-shadow: 0 1px 4px var(--btn-txt-shadow);
}

.navbar-links li a:hover {
  color: var(--nav-act-hov);
  font-weight: 600;
  transform: translateY(-1px) scale(1.05);
  text-shadow: 0 1px 4px var(--btn-txt-shadow);
}

.login-logo {
  transform: translateY(0.95rem);
  width: 3.3rem;
  height: 3.3rem;
}

.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--color-white);
  border-radius: 10px;
}

@media (max-width: 720px) {
  .ats-logo-container {
    width: 6rem;
  }

  .navigation {
    flex-direction: column;
    align-items: flex-end;
    height: 4.5rem;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    position: absolute;
    top: 4.5rem;
    display: none;
    width: 10rem;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
    background: var(--black);
    border-radius: 5px;
  }

  .navbar-links ul li a {
    padding: 0 0.5rem;
    height: 3rem;
    font-size: 1rem;
    line-height: 3rem;
  }

  .login-logo {
    transform: translateY(0.4rem);
    width: 2.1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}
*/
/* header and navbar style ends*/

/* navbar-begins */
.Navbar {
  position: fixed;
  top: 0;
  z-index: 99;
  height: 15vh;
  width: 100vw;
  background: linear-gradient(var(--navbar-bg), #d3d3d3);
}
.Navbar-contents {
  margin-left: 40%;
}
.Navbar a {
  float: left;
  display: block;
  font-family: "Hanalei", cursive;
  font-family: "Jomhuria", cursive;
  font-size: 35px;
  color: white;
  margin: 0 2.5vw;
  text-decoration: none;
  margin-top: 4%;
}

.Navbar a:hover {
  color: #6a5acd;
}

.Navbar a.active {
  color: #6a5acd;
}

.Navbar .icon {
  display: none;
  /* margin-top: 5%;*/
}
.Navbar input {
  float: left;
  margin-left: -20px;
  padding: 0.5em;
  border-style: groove;
  border: 2px solid white;
  background-color: inherit;
  height: 5vh;
  border-radius: 20px;
  position: fixed;
  width: 14%;
}
.ATSlogo {
  margin-top: -35%;
}
input:focus {
  outline: none;
}

::placeholder {
  color: white;
  font-style: normal;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .Navbar a:nth-last-child(n + 3) {
    display: none;
  }
  .Navbar a.icon {
    float: right;
    display: block;
    margin-top: 1.2%;
  }
}

@media screen and (max-width: 768px) {
  .Navbar.responsive {
    position: fixed;
    height: 45%;
  }
  .Navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 20px;
  }
  ::placeholder {
    font-size: 11px;
  }
  /* dark mode switch */
  .dark-switch-container {
    top: 8rem;
    right: 1rem;
  }
  /* darkmode switch ends */
  .icon .fa {
    border: none;
    /*margin-top: -2%;*/
    margin-left: -60px;
  }
  .Navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .ATSlogo {
    margin-top: -5%;
    position: absolute;
    margin-left: -2%;
  }

  .Navbar input {
    margin-left: -7%;
    position: fixed;
    width: 35%;
  }
  .Navbar-contents {
    margin-top: 3%;
  }
  .Navbar {
    position: fixed;
  }
}
@media only screen and (max-width: 1200px) {
  /* dark mode switch */
  .dark-switch-container {
    top: 7.5rem;
    right: 1rem;
  }
  /* darkmode switch ends */
}
/* navbar ends */

/* 1st carousel style begins */
.carousel-one-container {
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  position: relative;
}
.carousel-one-text-container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 9;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  color: var(--color-white);
  background-image: linear-gradient(
    to right bottom,
    var(--gradient-one),
    var(--gradient-two),
    var(--gradient-three)
  );
}
.carousel-text-box {
  position: absolute;
  width: 80%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.carousel-one-head {
  opacity: 1;
  padding-top: 7rem;
  font-size: 2.1rem;
}
.carousel-one-subhead {
  font-size: 1.5rem;
  padding-top: 0.4rem;
}
.carousel-one-para {
  width: 60%;
  margin: 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 5rem;
  font-size: 1.2rem;
}

.carousel-one-head,
.carousel-one-subhead,
.carousel-one-para {
  text-shadow: 0 4px 4px var(--txt-shadow-dark);
}
/* carousel btn */
.btn:link,
.btn:visited {
  text-transform: capitalize;
  text-decoration: none;
  padding: 0.8rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.3rem;
  text-shadow: 0 4px 4px var(--txt-shadow-light);
  box-shadow: 0 4px 4px var(--box-shadow-light);
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem var(--box-shadow-dark);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem var(--box-shadow-dark);
}

.btn--white {
  background-color: var(--btn-white-bg);
  color: var(--color-white);
}

.btn--white::after {
  background-color: var(--btn-white-bg);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

/* mobile view */
@media (max-width: 680px) {
  .carousel-one-container {
    width: 100vw;
    height: 63vh;
  }

  .carousel-one-text-container {
    height: 100%;
    width: 100%;
  }

  .carousel-text-box {
    width: 80%;
    height: 70%;
  }

  .carousel-one-head {
    padding-top: 3.8rem;
    font-size: 1.5rem;
  }
  .carousel-one-subhead {
    font-size: 1.2rem;
    padding-top: 0.4rem;
    padding-bottom: 2rem;
  }
  .carousel-one-para {
    display: none;
  }

  /* carousel btn */
  .btn:link,
  .btn:visited {
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
  }

  .btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 0.3rem 0.6rem var(--box-shadow-dark);
  }

  .btn:active {
    transform: translateY(-0.5px);
    box-shadow: 0 0.2rem 0.4rem var(--box-shadow-dark);
  }

  .btn::after {
    transition: all 0.2s;
  }
}

/* carousel-text ends */

.slider-one-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.image-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.image-container img {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.moveLeftCurrentSlide {
  animation: moveLeftCurrent 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.moveLeftNextSlide {
  animation: moveLeftNext 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes moveLeftCurrent {
  from {
    margin-left: 0;
    opacity: 1;
  }
  to {
    margin-left: -100%;
    opacity: 1;
  }
}

@keyframes moveLeftNext {
  from {
    margin-left: 100%;
    opacity: 1;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}

.moveRightCurrentSlide {
  animation: moveRightCurrent 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes moveRightCurrent {
  from {
    margin-left: 0;
    opacity: 1;
  }
  to {
    margin-left: 100%;
    opacity: 1;
  }
}

.moveRightNextSlide {
  animation: moveRightNext 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes moveRightNext {
  from {
    margin-left: -100%;
    opacity: 1;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
/* 1st carousel ends */

/* page 2 styles */
.page-two {
  height: 30rem;
  width: 100vw;
  background-color: var(--p2-bg);
}
.card-container {
  width: 75%;
  margin: 0 auto;
  margin-top: -3rem;

  display: flex;
  justify-content: space-between;
}
.card {
  text-align: center;
  background-color: var(--p2-card-bg);
  width: 22vw;
  height: 22rem;
  box-shadow: 0 0.25rem 1rem var(--box-shadow-light);
  z-index: 10;
  border-radius: 7px;
  color: var(--card-txt);
}
.card-img-container {
  width: 82%;
  height: 10rem;
  margin: 1.2rem auto;
}
.card-image {
  width: 100%;
  height: 100%;
}
.card-text-container {
  width: 75%;
  margin: 0 auto;
  margin-top: 2rem;
  font-size: 1rem;
}
@media only screen and (max-width: 1020px) {
  .card-text-container {
    width: 85%;
    margin-top: 1.5rem;
    font-size: 0.95rem;
  }
}
@media only screen and (max-width: 700px) {
  .card-text-container {
    width: 90%;
    margin-top: 1rem;
    font-size: 0.7rem;
  }
  .page-two {
    height: 22rem;
  }
  .card-container {
    width: 90%;
    margin-top: -3rem;
  }
  .card {
    width: 41vw;
    height: 18rem;
  }
  .card:nth-child(2) {
    display: none;
  }
  .card-img-container {
    width: 82%;
    height: 7rem;
    margin: 1rem auto;
  }

  .card-text-container {
    width: 85%;
    margin-top: 1.5rem;
    font-size: 0.8rem;
  }
}
/* page 2 styles ends */

/* page 3 styles */
.page-three {
  position: relative;
  height: 44rem;
  width: 100vw;
  background-color: var(--p3-bg);
  font-family: "Poppins", sans-serif;
}
.pth-container {
  position: absolute;
  width: 85vw;
  height: 35rem;
  padding-bottom: 2.5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  color: var(--color-white);

  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-template-areas:
    "title detail detail"
    "image box-1 box-2";

  grid-row-gap: 25px;
  grid-column-gap: 50px;
}
.pth-event-title {
  grid-area: title;
  justify-self: center;
  align-self: center;
  text-transform: uppercase;
}
.pth-event-title p {
  font-size: 3.5rem;
  letter-spacing: 1px;
  text-shadow: 0 0.25rem 1rem var(--txt-shadow-light);
}
.pth-event-title p span {
  color: var(--p3-yr-color);
}
.pth-event-details {
  grid-area: detail;
  justify-self: center;
  align-self: end;
}
.pth-event-details p {
  font-size: 0.9rem;
  letter-spacing: 1px;
}
.pth-img-container {
  grid-area: image;
}
.pth-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0.25rem 1rem var(--box-shadow-light);
}
.about-box-1 {
  grid-area: box-1;
}
.about-box-2 {
  grid-area: box-2;
}
.pth-about-box {
  border: 2px solid var(--color-white);
  position: relative;
  margin-bottom: 1rem;
}
.about-box-wrap {
  position: absolute;
  width: 85%;
  height: 90%;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.msg-logo-container {
  position: absolute;
  top: 0;
  left: 0;
}
.msg-logo {
  font-size: 2.4rem;
  color: var(--msg-logo);
}
.box-title {
  margin-top: 3.5rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.box-para {
  margin-top: 1rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

@media only screen and (max-width: 1500px) {
  .box-title {
    margin-top: 2.5rem;
    font-size: 1.3rem;
  }
  .box-para {
    margin-top: 0.8rem;
    font-size: 0.7rem;
  }
  .pth-event-title p {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 1100px) {
  .box-title {
    margin-top: 2.5rem;
    font-size: 1rem;
  }
  .box-para {
    margin-top: 0.4rem;
    font-size: 0.5rem;
  }
  .pth-event-title p {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 900px) {
  .pth-event-title p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 700px) {
  .page-three {
    height: 58rem;
    width: 100vw;
    max-width: 100vw;
  }
  .pth-container {
    width: 92vw;
    height: 50rem;
    padding-bottom: 2rem;
    padding-top: 0.7rem;

    display: grid;
    grid-template-rows: 1fr 3fr 5fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "title title"
      "image image"
      "box-1 box-2";

    grid-row-gap: 30px;
    grid-column-gap: 20px;
  }
  .pth-event-title {
    grid-area: title;
  }
  .pth-event-title p {
    font-size: 1.9rem;
    font-weight: 500;
  }
  .pth-event-details {
    display: none;
  }
  .pth-img-container {
    grid-area: image;
  }
  .about-box-1 {
    grid-area: box-1;
  }
  .about-box-2 {
    grid-area: box-2;
  }
  .about-box-wrap {
    position: absolute;
    width: 88%;
    height: 90%;
  }
  .msg-logo {
    font-size: 1.8rem;
  }
  .box-title {
    margin-top: 2.5rem;
    font-size: 1.2rem;
  }
  .box-para {
    margin-top: 1rem;
    font-size: 0.8rem;
  }
  .mobile-clip {
    display: none;
  }
}
/* page 3 styles ends */

/* top stories */
.top-stories {
  height: 70rem;
  width: 100vw;
  background: var(--top-stories-bg);
}
.stories-text {
  width: 60%;
  margin: 0 auto;
  padding-top: 7rem;
  padding-bottom: 3rem;
  text-align: center;
}
.stories-heading {
  font-size: 3.5rem;
  color: var(--p4-heading);
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  padding-bottom: 1rem;
}
.stories-heading span {
  color: var(--p4-span);
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}
.stories-para {
  font-size: 0.9rem;
  line-height: 1.5;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.stories-container {
  background: var(--stories-container-bg);
  height: 43rem;
  width: 90%;
  margin: 0 auto;
  padding: 5rem 5rem;
  border-radius: 7px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr repeat(3, 2fr) 1fr;

  grid-template-areas:
    "popular recent"
    "box-1 box-4"
    "box-2 box-5"
    "box-3 box-6"
    "more more";

  grid-gap: 20px;
  grid-column-gap: 50px;
}

.stories-popular {
  grid-area: popular;
}
.stories-recent {
  grid-area: recent;
}

.stories-popular,
.stories-recent {
  font-size: 2rem;
  font-weight: 500;
  color: var(--stories-pop-rec);
  justify-self: left;
  align-self: end;
  font-family: "Oswald", sans-serif;
}
.stories-box--1 {
  grid-area: box-1;
}
.stories-box--2 {
  grid-area: box-2;
}
.stories-box--3 {
  grid-area: box-3;
}
.stories-box--4 {
  grid-area: box-4;
}
.stories-box--5 {
  grid-area: box-5;
}
.stories-box--6 {
  grid-area: box-6;
}
.stories-more {
  font-family: "Poppins", sans-serif;
  grid-area: more;
  justify-self: center;
  margin-top: 1rem;
}

.stories-box {
  display: flex;
  font-family: "Poppins", sans-serif;
  background: var(--stories-box-bg);
  border-radius: 3px;
}
.story-img {
  flex: 1;
  padding: 0.8rem 1rem;
}
.story-img img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.story-text {
  flex: 3;
}
.story-head {
  color: var(--story-head);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 0.5rem 1rem;
}
.story-para {
  color: var(--black);
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 0 1rem;
}
/* btn design */
.btn-more:link,
.btn-more:visited {
  text-decoration: none;
  padding: 0.8rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.3rem;
}

.btn-more:hover {
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem var(--box-shadow-light);
}

.btn-more:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-more:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem var(--box-shadow-light);
}

.btn-more::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-more:link,
.btn-more:visited {
  padding: 0.5rem 3.5rem;
  transition: all 0.5s;
  border: 1px solid var(--btn-more-border);
  text-shadow: 0 4px 4px var(--shadow-none);
}
.btn-more {
  background-color: var(--stories-container-bg);
  color: var(--btn-more-color);
  box-shadow: 0 4px 4px var(--shadow-none);
}
.btn-more::after {
  background-color: var(--stories-container-bg);
}
@media only screen and (max-width: 1200px) {
  .story-head {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }
  .story-para {
    font-size: 0.6rem;
    padding: 0 0.7rem;
  }
}
@media only screen and (max-width: 900px) {
  .story-head {
    font-size: 0.7rem;
    padding: 0.2rem 0.5rem;
  }
  .story-para {
    font-size: 0.4rem;
    padding: 0 0.4rem;
  }
}

@media only screen and (max-width: 700px) {
  .top-stories {
    height: 105rem;
    width: 100vw;
    max-width: 100vw;
  }
  .stories-text {
    width: 80%;
    padding-top: 7rem;
    padding-bottom: 3rem;
  }
  .stories-heading {
    font-size: 2rem;
    padding-bottom: 1rem;
    letter-spacing: 1px;
  }
  .stories-para {
    font-size: 0.9rem;
    line-height: 1.3;
  }
  .stories-container {
    height: 80rem;
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .stories-popular {
    order: 1;
  }
  .stories-recent {
    order: 5;
  }

  .stories-popular,
  .stories-recent {
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 500;
    justify-self: left;
    align-self: end;
  }
  .stories-box--1 {
    order: 2;
  }
  .stories-box--2 {
    order: 3;
  }
  .stories-box--3 {
    order: 4;
  }
  .stories-box--4 {
    order: 6;
  }
  .stories-box--5 {
    order: 7;
  }
  .stories-box--6 {
    order: 8;
  }
  .stories-more {
    order: 9;
    justify-self: center;
    align-self: center;
    margin-top: 1rem;
  }

  .stories-box {
    display: flex;
    height: 9rem;
    width: 100%;
  }
  .story-img {
    flex: 1;
    padding: 1.5rem 0;
    padding-left: 0.2rem;
  }
  .story-text {
    flex: 2;
  }
  .story-head {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 1.5rem 0.5rem 1rem 1rem;
  }
  .story-para {
    font-size: 0.7rem;
    letter-spacing: 1px;
    padding: 0 1rem;
  }
  /* btn design */
  .btn-more:link,
  .btn-more:visited {
    padding: 0.5rem 2.5rem;
    font-size: 1rem;
  }

  .btn-more:hover {
    transform: translateY(-1px);
  }

  .btn-more:hover::after {
    transform: scaleX(1.2) scaleY(1.3);
  }

  .btn-more:active {
    transform: translateY(-0.5px);
  }
}
/* top stories ends */

/* contact us begin */
.contact-us {
  background: var(--contact-bg);
  width: 100vw;
  max-width: 100vw;
  height: 120vh;
}

.contact-title {
  width: 60%;
  margin: 0 auto;
  padding-top: 7rem;
  padding-bottom: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.contact-title p {
  font-size: 3.5rem;
  color: var(--color-white);
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  padding-bottom: 1rem;
}
.contact-title span {
  color: var(--p3-yr-color);
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

.form-container {
  background: var(--form-bg);
  width: 56vw;
  margin: 0 auto;
  height: 72vh;
  padding: 3rem 8vw;
  border-radius: 5px;
}
.contact-form input,
.contact-form label {
  display: block;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group-1 {
  display: block;
}
.form-group-2,
.form-group-3 {
  display: inline-block;
  width: 47%;
}
.form-group-2 input,
.form-group-3 input {
  width: 100%;
}
.form-group-3 {
  float: right;
}

.contact-form input {
  font-size: 0.9rem;
  padding: 0.7rem 1rem;
  border-radius: 3px;
  font-family: inherit;
  color: inherit;
  border: none;
  letter-spacing: 0.5px;
  border-bottom: 3px solid transparent;
  transition: all 0.2s;
  background: var(--input-bg);
}
.contact-form input:focus {
  outline: none;
  box-shadow: 0 10px 20px var(--box-shadow-light);
  border-bottom: 3px solid var(--p3-yr-color);
}
.form-group-1 input {
  width: 100%;
}
.message {
  display: block;
  width: 100%;
  height: 27vh;
  font-size: 0.9rem;
  padding: 0.7rem 1rem;
  border-radius: 3px;
  font-family: inherit;
  color: inherit;
  border: none;
  letter-spacing: 0.5px;
  background: var(--input-bg);
}
.message:focus {
  outline: none;
  box-shadow: 0 10px 20px var(--box-shadow-light);
}
.contact-form textarea::-webkit-input-placeholder {
  color: #999;
  font-size: 0.9rem;
}

.form-group input:focus:invalid {
  border-bottom: 3px solid var(--red);
}
.contact-form input::-webkit-input-placeholder {
  color: #999;
  font-size: 0.9rem;
}

.form-group label {
  font-size: 0.9rem;
  margin-left: 1rem;
  margin-top: 0.4rem;
  display: block;
  transition: all 0.3s;
  letter-spacing: 0.5px;
}

.form-group input:placeholder-shown + label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2.5rem);
}
.btn-submit {
  text-align: center;
  padding-top: 0.2rem;
}

@media only screen and (max-width: 700px) {
  .contact-us {
    width: 100vw;
    max-width: 100vw;
    height: 118vh;
  }
  .contact-title {
    width: 80%;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 2rem;
  }
  .contact-title p {
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  .form-container {
    background: var(--form-bg);
    width: 80vw;
    margin: 0 auto;
    height: 78vh;
    padding: 1.5rem 5vw;
  }
  .contact-form input,
  .contact-form label {
    display: block;
  }

  .form-group {
    margin-bottom: 0.7rem;
  }

  .form-group-1 {
    display: block;
  }
  .form-group-2,
  .form-group-3 {
    display: block;
    width: 100%;
  }
  .form-group-2 input,
  .form-group-3 input {
    width: 100%;
  }
  .form-group-3 {
    float: none;
  }

  .contact-form input {
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
    border-radius: 3px;
    font-family: inherit;
    color: inherit;
    border: none;
    letter-spacing: 0.5px;
    border-bottom: 3px solid transparent;
    transition: all 0.2s;
    background: var(--input-bg);
  }
  .contact-form input:focus {
    outline: none;
    box-shadow: 0 7px 15px var(--box-shadow-light);
    border-bottom: 3px solid var(--p3-yr-color);
  }
  .form-group-1 input {
    width: 100%;
  }
  .message {
    display: block;
    width: 100%;
    height: 27vh;
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
  }

  .contact-form textarea::-webkit-input-placeholder {
    font-size: 0.8rem;
  }

  .form-group input:focus:invalid {
    border-bottom: 2px solid var(--red);
  }
  .contact-form input::-webkit-input-placeholder {
    font-size: 0.8rem;
  }

  .form-group label {
    font-size: 0.8rem;
    margin-left: 0.8rem;
    margin-top: 0.4rem;
    display: block;
    transition: all 0.3s;
    letter-spacing: 0.5px;
  }

  .form-group input:placeholder-shown + label {
    transform: translateY(-2rem);
  }
  .btn-submit {
    text-align: center;
    padding-top: 1rem;
  }
}
/* contact us ends */

/* footer styles */
.footer {
  display: block;
  max-width: 100vw;
  font-family: "Lato", sans-serif;
  background-color: var(--footer-bg-grey);
  color: var(--color-white);
  text-align: center;
}

.footer-container {
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15vh;
  border-bottom: 2px solid var(--color-white);
}

.footer-nits-aa-container,
.footer-about,
.footer-events,
.footer-contact,
.footer-ats-col-container {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 20vw;
}

.mobile-ats-logo-container {
  display: none;
}

.footer-nits-logo {
  width: 40%;
  margin-bottom: 2vh;
}

.footer-contact-aa {
  font-size: 0.9rem;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* contact symbol style with fa styling below */
.footer-heading {
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: var(--footer-heading-color);
  letter-spacing: 1px;
  font-weight: 600;
  user-select: none;
}

.footer-heading-aa {
  margin-bottom: 8px;
}

.footer-para {
  margin-bottom: 6px;
  font-size: 1.1rem;
  display: block;
  color: var(--color-white);
  user-select: none;
}

.footer-ats-logo {
  width: 57%;
}

.follow-us {
  padding: 2vh 0 3vh 0;
}

.fa {
  padding: 5px 7px;
  font-size: 26px;
  text-decoration: none;
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: 100%;
  margin-right: 2vw;
}

.fa:last-child {
  margin-right: 0;
}

.fa-facebook {
  padding: 5px 9px;
  font-size: 24px;
}

.contact-symbol,
.fa-phone {
  border: none;
  margin-right: 10px;
  color: var(--footer-heading-color);
  padding-left: 0;
  font-size: 20px;
}

.footer-copyright {
  padding-bottom: 1vh;
}

@media (max-width: 700px) {
  .footer-container {
    padding-top: 5vh;
  }

  .footer-nits-aa-container,
  .footer-about,
  .footer-events,
  .footer-contact,
  .footer-ats-col-container {
    display: block;
    width: 100%;
    margin-bottom: 25px;
  }

  .footer-about,
  .footer-events {
    display: inline-block;
    width: 45%;
  }

  .mobile-ats-logo-container {
    display: block;
    width: 100%;
  }

  .footer-ats-col-container {
    display: none;
  }

  .footer-nits-logo {
    width: 30%;
  }

  .footer-heading {
    font-size: 1.1rem;
  }

  .footer-para {
    margin-bottom: 4px;
    font-size: 1rem;
  }

  .footer-ats-logo {
    width: 40%;
  }
}
/* footer ends */