:root {
  --body-bg-color: #e0e0e0;
  --white: white;
  --coverpic: rgb(141, 141, 141);
  --black: black;
  --chatbg: #9ab3f5;
  --gray: gray;
  --navbg: rgb(211, 241, 255);
  --tab1: rgb(38, 38, 122);
  --boxshadow1: rgba(0, 0, 0, 0.6);
  --boxshadow2: rgba(0, 0.3, 0, 0.3);
  --contentshadow: rgba(0, 0, 0, 0.3);
  --lightgray: lightgray;
  --addbtnclr: #555;
  --addbtnhover: #bbb;
  --popbgcolor: #f5f5f5;
  --borderpopcolor: #a9a9a9;
  --editborder: #ee9a4d;
  --editbgclr: #e2a76f;
  --edithover: #deb887;

  --dm-bg-color: #b1b1b1;
}

.dark-mode {
  --body-bg-color: #e0e0e0;
  --white: white;
  --coverpic: rgb(141, 141, 141);
  --black: black;
  --chatbg: #9ab3f5;
  --gray: gray;
  --navbg: rgb(211, 241, 255);
  --tab1: rgb(38, 38, 122);
  --boxshadow1: rgba(0, 0, 0, 0.6);
  --boxshadow2: rgba(0, 0.3, 0, 0.3);
  --contentshadow: rgba(0, 0, 0, 0.3);
  --lightgray: lightgray;
  --addbtnclr: #555;
  --addbtnhover: #bbb;
  --popbgcolor: #f5f5f5;
  --borderpopcolor: #a9a9a9;
  --editborder: #ee9a4d;
  --editbgclr: #e2a76f;
  --edithover: #deb887;

  --dm-bg-color: #000000;
}
